* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.display-flex {
  display: flex;
}

.text-dark-1 {
  color: #131313;
}

.text-dark-2 {
  color: #424242;
}

.text-dark-3 {
  color: #727272;
}

.text-orange {
  color: #ff900e;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  color: #ffffff;
  background-color: #ff900e;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.25rem;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

main > section {
  margin-top: 130px;
}

/* Header Styles */
/* Navbar related styles */
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 100px;
}

.navbar-brand {
  font-weight: 700;
  /* Changed 45px to equivalent rem considering standard size=16px */
  font-size: 2.8125rem;
}

.navbar-menu {
  list-style-type: none;
  gap: 50px;
}

.navbar-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

.banner-info {
  max-width: 861px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 25px;
}

.banner-desc {
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 32px;
}

.banner-image {
  width: 100%;
}

.teams {
  align-items: center;
  gap: 75px;
}

.teams-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.team-features {
  max-width: 537px;
}

.section-title {
  font-size: 2.8125rem;
  font-weight: 700;
  margin-bottom: 24px;
}

#title-part-1 {
  font-weight: 500;
}

.section-desc {
  max-width: 540px;
  line-height: 1.625rem;
  margin-bottom: 32px;
}

.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fact-card {
  /* padding: 45px 36px 60px 36px;
  text-align: center; */
  /* Considered equal padding on both sides. Implemented with flex to center content horizontally and vertically */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff900e;
  border-radius: 8px;
  width: 240px;
  height: 240px;
}

.fact-icon {
  margin-bottom: 10px;
}

.fact-number {
  font-weight: 600;
  font-size: 2.8125rem;
  margin-bottom: 5px;
}

.fact-name {
  font-weight: 600;
  font-size: 1.25rem;
}

@media screen and (max-width: 576px) {
  .navbar,
  .navbar-menu,
  .teams {
    flex-direction: column;
  }

  .teams {
    gap: 0px;
  }

  .teams-image-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .teams-features {
    margin: 20px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .navbar,
  .teams {
    flex-direction: column;
  }

  .teams {
    gap: 0px;
  }

  .grid-image {
    width: 100%;
  }

  .teams-features {
    margin: 50px;
  }
}
